/* Split screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -1;
    top: 6%;
    overflow-x: hidden;  
  }
  
  /* Left side */
  .left {
    left: 0;
    background-image: url("/static/img/bridge-road.jpg");
    background-size: cover;
    color:white;
  }
  
  /* Right side */
  .right {
    right: 0;
    background-color: gainsboro;
  }
  
  /* Center content in each split horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h1{
    font-size: 70px;
    text-shadow: 2px 2px gray;

  }

  p{
    font-size: 30px;
    text-shadow: 2px 2px gray;
  }

  /* Stylized "or" and divider line between different sign in types */
  h6 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #ababab; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    color: gray;
 } 
 
 h6 span { 
     background: gainsboro;
     padding:0 10px; 
 }
 