/* Set the size of the div element that contains the map */
#google-map {
    height: 400px;
    width: 100%;
}

/* padding for the main directions and map area */
#map-container{
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 5%;
}

/* center spacing for weather forecast contents in weather table */
#weather-table{
  padding-left: 30%;
}

/* padding for destination information */
#destination-information{
  margin-left: 5%;
  margin-right: 5%;
}

/* Set background */
body{
  background-image: url("/static/img/main-bg.jpg");
  background-position: center;
  background-size: cover;
  z-index: -10;
  overflow-y: hidden; /*this is turned to visible when route is rendered in map.js*/
}

/* Make "Save My Maps" inside form button on same line as "Plan My Trip" button outside of form*/
form{
  display:inline;
}