{% extends 'base.html' %}


{% block title %}Map Your Roadtrip!{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/debug-map-style.css" />

{% endblock %}
{% block content %}

  <div class="container">
    <div class="row">
      <div id="map-container" class="col-7 bg-white" style="--bs-bg-opacity: .75;">
        <div id="base-form-info">

          <form action="/map-action" method="POST">
            <p>
              <i class="fas fa-home"></i>
              <b>Start Point:</b>
              <input class="form-control" type="text" id="start_pt" name="start_pt" placeholder="Start Address" required>
            </p>
          
            <p>
              <i class="fas fa-map-marked-alt"></i>
              <b>End Point:</b>
              <input class="form-control" type="text" id="end_pt" name="end_pt" placeholder="Destination Address" required>
            </p>

            <i class="fas fa-car"></i>
            <b>Mode:</b>


            <div id="mode-selector" class="controls" >
              <input type="radio" name="mode" id="changemode-walking" value="Walking"/>
              <label for="changemode-walking">Walking</label>

              <input type="radio" name="mode" id="changemode-bicycling" value="Bicycling"/>
              <label for="changemode-bicycling">Bicycling</label>

              <input type="radio" name="mode" id="changemode-transit" value="Transit"/>
              <label for="changemode-transit">Transit</label>
      
              <input type="radio" name="mode" id="changemode-driving" value="Driving" checked="checked"/>
              <label for="changemode-driving">Driving</label>
              <br>
              <br>
            </div>
            
          </form>
          <input class="btn btn-primary" type="submit" id="plan-trip-btn" value="Plan My Trip" name="trip-button">
          <br>
          <br>

        </div>

        <div class="card shadow mb-5 bg-body rounded">
          <div class="card-header">
              <center>
                <b>Polyline Encoded String</b>
              </center>
          </div>

          <div class="card-body mx-auto">
            <p id="polyline-string" class="text-break"></p>
          </div>
        </div>


        <div class="card shadow mb-5 bg-body rounded">
          <div class="card-header">
              <center>
                <b>Polyline Decoded Coordinates</b>
              </center>
          </div>

          <div class="card-body mx-auto">
            <p id="route-coordinates" class="text-break"></p>
          </div>
        </div>

        <div class="card shadow mb-5 bg-body rounded">
          <div class="card-header">
              <center>
                <b>Show Boundary</b>
              </center>
          </div>
            <div id="show-boundary"></div>
        </div>




        <!-- Load Google Maps API -->
     
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&libraries=geometry,places&callback=initMap&v=weekly"></script>

    </div>

   </div>
</div>


<script src="/static/js/debug-map.js"></script>

{% endblock %}
