{% extends 'base.html' %}

{% block title %}Map Your Roadtrip!{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/map-style.css" />


{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <div id="welcome">

        <h2>Hi {{user.fname}}! Here is Your Saved Roadtrip!</h2>

        <p>Want to go somewhere else? <a href="/main">Click here to map another trip!</a></p>

        <form action="/map-action" method="POST">
          <p>
            <i class="fas fa-home"></i>
            <input type="text" size="100" id="start_pt" name="start_pt" placeholder="Start Address" value="{{start_pt}}" readonly>
          </p>
        
          <p>
            <i class="fas fa-car"></i>
            <input type="text" size="100" id="end_pt" name="end_pt" placeholder="Destination Address" value="{{end_pt}}" readonly>
          </p>
          Mode:
          <p id="mode-id">
            {{mode}}
          </p>

    
          
          
        </form>

      </div>

      <div id="google-map"></div>
      <div id="sidebar"></div>
      <div id="route-coordinates"></div>


        <!-- Load Google Maps API -->
     
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&libraries=geometry,places&callback=initMap&v=weekly"></script>



      
    </div>
   </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/static/js/saved-maps-render.js"></script>

{% endblock %}
