{% extends 'base.html' %}

{% block title %}Map Your Roadtrip!{% endblock %}

{% block head %}

  <link rel="stylesheet" type="text/css" href="/static/css/map-style.css" />

{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div id="map-container" class="col-7 bg-white" style="--bs-bg-opacity: .75;">
        <div id="base-form-info">

        <h2>Hi {{user.fname}}! Here is Your Saved Roadtrip!</h2>

        <p>Want to go somewhere else? <a href="/main" style="color:black">Click here to map another trip!</a></p>

        <form action="/map-action" method="POST">
          
            <i class="fas fa-home"></i>

            <b>Start Point:</b>
            <p id="startpt-id">
              {{start_pt}}
            </p>  

            <i class="fas fa-map-marked-alt"></i>
            <b>End Point:</b>
            <p id="endpt-id">
              {{end_pt}}
            </p>
        
            <i class="fas fa-car"></i>
            <b>Mode:</b>
            <p id="mode-id">
              {{mode}}
            </p>
          
        </form>

      </div>

      <div id="google-map" class="bg-light" style="--bs-bg-opacity: .75;"></div>
      <div id="text-directions" class="bg-light" style="--bs-bg-opacity: .75;"></div>
      <div id="route-coordinates" class="bg-light" style="--bs-bg-opacity: .75;"></div>


        <!-- Load Google Maps API -->
     
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&libraries=geometry,places&callback=initMap&v=weekly"></script>

        
    </div>

    <!-- Weather Bar -->
    <div class="col-4 d-flex justify-content-center bg-light" style="--bs-bg-opacity: .75;">
      <div id="weather-forecast"></div>
    
    </div>

   </div>
</div>

<script src="/static/js/saved-maps-render.js"></script>

{% endblock %}
