{% extends 'base.html' %}


{% block title %}Map Your Roadtrip!{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/map-style.css" />

{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-7">
      <div id="welcome">
        {% if 'logged_in_user' in session %}
        <h2>Hi {{user.fname}}! Where would you like to go?</h2>
        {% else %}
        <h2>Hi there! Where would you like to go?</h2>        
        <p><a href="/login">Log In</a> to save your map!</p>
        {% endif %}

        <form action="/map-action" method="POST">
          <p>
            <i class="fas fa-home"></i>
            <b>Start Point:</b>
            <input type="text" size="100" id="start_pt" name="start_pt" placeholder="Start Address" required>
          </p>
        
          <p>
            <i class="fas fa-map-marked-alt"></i>
            <b>End Point:</b>
            <input type="text" size="100" id="end_pt" name="end_pt" placeholder="Destination Address" required>
          </p>

          <i class="fas fa-car"></i>
          <b>Mode:</b>


          <div id="mode-selector" class="controls" >
            <input type="radio" name="mode" id="changemode-walking" value="Walking"/>
            <label for="changemode-walking">Walking</label>

            <input type="radio" name="mode" id="changemode-bicycling" value="Bicycling"/>
            <label for="changemode-bicycling">Bicycling</label>

            <input type="radio" name="mode" id="changemode-transit" value="Transit"/>
            <label for="changemode-transit">Transit</label>
    
            <input type="radio" name="mode" id="changemode-driving" value="Driving" checked="checked"/>
            <label for="changemode-driving">Driving</label>
            <br>
            <br>
          </div>
    
          
            {% if 'logged_in_user' in session %}
            <input class="btn btn-info btn-outline-light" type="submit" value="Save My Trip" name="trip-button">
            {% endif %}
          
        </form>
        <input class="btn btn-primary btn-outline-light" type="submit" id="plan-trip-btn" value="Plan My Trip" name="trip-button">
        <br>
        <br>

      </div>

      <div id="weather-forecast"></div>


      <div id="google-map"></div>
      <div id="text-directions"></div>
      <div id="route-coordinates"></div>


        <!-- Load Google Maps API -->
     
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&libraries=geometry,places&callback=initMap&v=weekly"></script>



      
    </div>
   </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/static/js/map.js"></script>

{% endblock %}
