{% extends 'base.html' %}

{% block title %}Map Your Roadtrip!{% endblock %}

{% block head %}



{% endblock %}


{% block content %}
<br>

{% if 'logged_in_user' in session and user.email != 'admin@test.com'%}

<h3>{{user.fname}}'s Saved Maps:</h3>

{% else %}

<h3> Saved Maps: </h3> 

{% endif %}

{% if list_maps is defined and list_maps|length > 0 %}

<div class="row row-cols-1 row-cols-md-2" id = "card-grid">

{% for map in list_maps %}


<div class="col mb-4">
    <div class="card">

    <div class="card-body">
        <h3>Map # {{loop.index}}</h3>
        <ul>
        {% if 'logged_in_user' in session and user.email == 'admin@test.com'%}
        
        <li>First Name: {{map.user.fname}}</li>
        <li>Last Name: {{map.user.lname}}</li>    
        
        {% endif %}
        
        <h5>Start Pt:</h5>
        <p id="start-pt-id">{{map.start_pt}}</p>
        <h5>End Pt:</h5> 
        <p id="end-pt-id">{{map.end_pt}}</p>
        <h5>Transportation Mode:</h5>
        <p id="mode-id">{{map.mode}}</p>
        </ul>

        <p>
            <a class="btn btn-info btn-outline-light" href="/main">
            Back to Main Page
            </a>
        
            <button class="btn btn-primary btn-outline-light" id="display-btn">
            Display Map
            </button>
                
            <a class="btn btn-danger btn-outline-light" href="/delete-map/{{map.map_id}}" method="GET">
            Delete
            </a>
        </p>


</div>
</div>
</div>


{% endfor %}
</div>

{% else %}

<p>You have no saved maps.</p>


{% endif %}

<script src="/static/js/saved-maps.js"></script>

{% endblock %}