{% extends 'base.html' %}

{% block title %}Weather Search{% endblock %}


{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/weather-json.css" />

{% endblock %}


{% block content %}


<header>

  <h2>Weather JSON Display</h2>
  
</header>
  

<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col">

      <form method="GET" action="/weather/search">
     
        <div class="row">
          <label class="form-label" for="search-zip"><b>Zip Code or City Name</b></label>

          <div class="col">
 
            <input
              id="search-zip"
              class="form-control"
              type="text"
              name="q"
            >
          </div>
      
          <label class="form-label" for="search-radius"><b>Future Forecast Days (Up to 3)</b></label>
 
          <div class="col">
              <input
                id="days"
                class="form-control"
                type="number"
                max="3"
                name="days"
              >
          
          </div>
        </div>
      
        <div class="row mt-4">
          <div class="col">
            <input type="submit" value="Get JSON" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
